# Ignore everything by default
*

# Allow only specific directories (and their contents)
!README.md
!data_processing/
!data_processing/**
!lfmc_model/
!lfmc_model/**

# Still ignore unwanted stuff inside allowed dirs
**/__pycache__/
**/*.py[cod]
**/.DS_Store
**/._.DS_Store
**/*.out
**/*.err
**/*.log
**/logs/
**/testing/
**/old/
!data_processing/daymet/old/
!data_processing/daymet/old/update_daymet_monthly_latency_month.py
!lfmc_model/scripts/inference/old/
!lfmc_model/scripts/inference/old/orchestrate_low_latency_monthly_update.sh
!lfmc_model/scripts/inference/old/submit_low_latency_month_promotion.sh
!/old/
/old/*
!/old/viewer/
!/old/viewer/**
lfmc_model/scripts/transfer_out/source_credentials.json

# Ignore dotfiles EXCEPT .gitignore
**/.*
!.gitignore
